// styles.scss

// Variables para colores y fuentes
$primary-color: #007bff;
$primary-hover-color: darken($primary-color, 10%);
$background-color: #f0f0f0;
$text-color: #333;
$font-family: 'Arial', sans-serif;

// Mixin para un estilo de botón reutilizable
@mixin button-style {
  padding: 10px 20px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $primary-hover-color;
  }
}

// Estilos generales
body {
  font-family: $font-family;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: $text-color;
}

// Barra de navegación
.navbar {
  width: 100%;
  background-color: $primary-color;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .nav-container {
    display: flex;

    .nav-button {
      @include button-style;
      background-color: transparent;
      color: #fff;
      margin: 0 5px;

      &.active {
        background-color: $primary-hover-color;
      }
    }
  }
}

// Estilos del contenedor principal
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;

  &.hidden {
    display: none; // Oculta el contenedor si tiene la clase hidden
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"], input[type="number"] {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  button {
    @include button-style;
  }

  #encrypt-results, #decrypt-results {
    margin-top: 20px;

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
      font-size: 14px;
      background-color: #f8f9fa;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e9ecef;
    }
  }
}
